{
  "log": {
    "_recordingName": "fetchOrganizations",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "1ca8be0a5decf71756e657bd7084ddd4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "size": "100"
              }
            }
          ],
          "url": "https://app.terraform.io/api/v2/organizations?page%5Bsize%5D=100"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json; charset=utf-8",
            "size": 4760,
            "text": "{\"data\":[{\"id\":\"austin-test-org\",\"type\":\"organizations\",\"attributes\":{\"external-id\":\"org-Ljx2Ap3vszNhHWWv\",\"created-at\":\"2021-03-28T12:46:34.199Z\",\"email\":\"austin.kelleher@jupiterone.com\",\"session-timeout\":null,\"session-remember\":null,\"collaborator-auth-policy\":\"password\",\"plan-expired\":false,\"plan-expires-at\":null,\"plan-is-trial\":false,\"plan-is-enterprise\":false,\"cost-estimation-enabled\":false,\"name\":\"austin-test-org\",\"permissions\":{\"can-update\":true,\"can-destroy\":true,\"can-access-via-teams\":true,\"can-create-module\":true,\"can-create-team\":false,\"can-create-workspace\":true,\"can-manage-users\":true,\"can-manage-subscription\":true,\"can-manage-sso\":false,\"can-update-oauth\":true,\"can-update-sentinel\":false,\"can-update-ssh-keys\":true,\"can-update-api-token\":true,\"can-traverse\":true,\"can-start-trial\":true,\"can-update-agent-pools\":false,\"can-manage-tags\":true,\"can-manage-public-modules\":true,\"can-manage-public-providers\":false,\"can-create-provider\":false},\"fair-run-queuing-enabled\":true,\"saml-enabled\":false,\"owners-team-saml-role-id\":null,\"two-factor-conformant\":false},\"relationships\":{\"oauth-tokens\":{\"links\":{\"related\":\"/api/v2/organizations/austin-test-org/oauth-tokens\"}},\"authentication-token\":{\"links\":{\"related\":\"/api/v2/organizations/austin-test-org/authentication-token\"}},\"entitlement-set\":{\"data\":{\"id\":\"org-Ljx2Ap3vszNhHWWv\",\"type\":\"entitlement-sets\"},\"links\":{\"related\":\"/api/v2/organizations/austin-test-org/entitlement-set\"}},\"subscription\":{\"links\":{\"related\":\"/api/v2/organizations/austin-test-org/subscription\"}}},\"links\":{\"self\":\"/api/v2/organizations/austin-test-org\"}},{\"id\":\"austin-test-org-v2\",\"type\":\"organizations\",\"attributes\":{\"external-id\":\"org-X2NET8eXZP36vxN7\",\"created-at\":\"2021-07-18T12:37:48.821Z\",\"email\":\"austin.kelleher@jupiterone.com\",\"session-timeout\":null,\"session-remember\":null,\"collaborator-auth-policy\":\"password\",\"plan-expired\":false,\"plan-expires-at\":null,\"plan-is-trial\":false,\"plan-is-enterprise\":false,\"cost-estimation-enabled\":false,\"name\":\"austin-test-o[...]
