{
  "log": {
    "_recordingName": "fetchOrganizationWorkspaces",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "dde9458e79d119e3a495aa84791f4a55",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "size": "100"
              }
            }
          ],
          "url": "https://app.terraform.io/api/v2/organizations/jupiterone/workspaces?page%5Bsize%5D=100"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json; charset=utf-8",
            "size": 7424,
            "text": "{\"data\":[{\"id\":\"ws-GRtYdcUZksn1rsrR\",\"type\":\"workspaces\",\"attributes\":{\"allow-destroy-plan\":true,\"auto-apply\":false,\"auto-destroy-at\":null,\"created-at\":\"2021-05-31T15:20:59.196Z\",\"environment\":\"default\",\"locked\":false,\"name\":\"integration-development-google-cloud-v2-jupiterone-dev\",\"queue-all-runs\":false,\"speculative-enabled\":false,\"structured-run-output-enabled\":true,\"terraform-version\":\"0.15.4\",\"working-directory\":\"\",\"global-remote-state\":false,\"updated-at\":\"2021-11-30T15:56:26.127Z\",\"resource-count\":75,\"apply-duration-average\":65000,\"plan-duration-average\":21000,\"policy-check-failures\":null,\"run-failures\":16,\"workspace-kpis-runs-count\":30,\"latest-change-at\":\"2021-11-30T15:56:24.017Z\",\"operations\":true,\"execution-mode\":\"remote\",\"vcs-repo\":null,\"vcs-repo-identifier\":null,\"permissions\":{\"can-update\":true,\"can-destroy\":true,\"can-queue-destroy\":true,\"can-queue-run\":true,\"can-queue-apply\":true,\"can-read-state-versions\":true,\"can-create-state-versions\":true,\"can-read-variable\":true,\"can-update-variable\":true,\"can-lock\":true,\"can-unlock\":true,\"can-force-unlock\":true,\"can-read-settings\":true,\"can-manage-tags\":true},\"actions\":{\"is-destroyable\":true},\"description\":\"Used for development against the \\\"jupiterone.dev\\\" Google Cloud organization\",\"file-triggers-enabled\":false,\"trigger-prefixes\":[],\"source\":\"tfe-ui\",\"source-name\":null,\"source-url\":null,\"tag-names\":[]},\"relationships\":{\"organization\":{\"data\":{\"id\":\"jupiterone\",\"type\":\"organizations\"}},\"current-run\":{\"data\":{\"id\":\"run-MAWraJiusxqsKSd8\",\"type\":\"runs\"},\"links\":{\"related\":\"/api/v2/runs/run-MAWraJiusxqsKSd8\"}},\"latest-run\":{\"data\":{\"id\":\"run-MAWraJiusxqsKSd8\",\"type\":\"runs\"},\"links\":{\"related\":\"/api/v2/runs/run-MAWraJiusxqsKSd8\"}},\"outputs\":{\"data\":[]},\"remote-state-consumers\":{\"links\":{\"related\":\"/api/v2/workspaces/ws-GRtYdcUZksn1rsrR/relationships/remote-state-consumers\"}},\"current-state-version\":{\"data\":{\"id\":\"sv-irhVX5ZHosEyZgzv\",\"type\":\"state-versions\"},\"links\":{\"related\":\"/api/v2/workspaces/ws-GRtYdcUZksn1rsrR/current-state-version\"}},\"current-configuration-version\":{\"data\":{\"id\":\"cv-mkbxKFR42pnXQgU7\",\"type\":\"configuration-versions\"},\"links\":{\"related\":\"/api/v2/configuration-versions/cv-mkbxKFR42pnXQgU7\"}},\"agent-pool\":{\"data\":null},\"readme\":{\"data\":null}},\"links\":{\"self\":\"/api/v2/organizations/jupiterone/workspaces/integration-development-google-cloud-v2-jupiterone-dev\"}},{\"id\":\"ws-jJQ2vczsvo6BrLC7\",\"type\":\"workspaces\",\"attributes\":{\"allow-destroy-plan\":true,\"auto-apply\":false,\"auto-destroy-at\":null,\"created-at\":\"2021-02-17T21:26:58.799Z\",\"environment\":\"default\",\"locked\":false,\"name\":\"integration-development-google-cloud\",\"queue-all-runs\":false,\"speculative-enabled\":true,\"structured-run-output-enabled\":null,\"terraform-versi[...]
