{
  "log": {
    "_recordingName": "fetchAccount",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "020c85ae52b49216a932f1ac0762939b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.terraform.io/api/v2/account/details"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json; charset=utf-8",
            "size": 774,
            "text": "{\"data\":{\"id\":\"user-2yZJWZGNJmNsidGK\",\"type\":\"users\",\"attributes\":{\"username\":\"pgilaga\",\"is-service-account\":false,\"avatar-url\":\"https://www.gravatar.com/avatar/6bf8d79d3b1d6d34a9d69f62cd09d20a?s=100\\u0026d=mm\",\"password\":null,\"enterprise-support\":false,\"is-site-admin\":false,\"is-sso-login\":false,\"two-factor\":{\"enabled\":false,\"verified\":false},\"email\":\"pgilaga@gmail.com\",\"unconfirmed-email\":null,\"has-git-hub-app-token\":false,\"is-confirmed\":true,\"is-sudo\":false,\"permissions\":{\"can-create-organizations\":true,\"can-change-email\":true,\"can-change-username\":true,\"can-manage-user-tokens\":true}},\"relationships\":{\"authentication-tokens\":{\"links\":{\"related\":\"/api/v2/users/user-2yZJWZGNJmNsidGK/authentication-tokens\"}}},\"links\":{\"self\":\"/api/v2/users/user-2yZJWZGNJmNsidGK\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"83c358495801c34429348005e9d40296\""
            },
            {
              "name": "tfp-api-version",
              "value": "2.5"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "30"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "29"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "0.03"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 991,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
