{
  "log": {
    "_recordingName": "fetchAccount",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "020c85ae52b49216a932f1ac0762939b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.terraform.io/api/v2/account/details"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json; charset=utf-8",
            "size": 823,
            "text": "{\"data\":{\"id\":\"user-TSVGDCJGAaCZs8T7\",\"type\":\"users\",\"attributes\":{\"username\":\"api-org-jupiterone-HXJbgND3Bo\",\"is-service-account\":true,\"avatar-url\":\"https://www.gravatar.com/avatar/c726702df6456d9affb1eb8d9d37a9de?s=100\\u0026d=mm\",\"password\":null,\"enterprise-support\":false,\"is-site-admin\":false,\"is-sso-login\":false,\"two-factor\":{\"enabled\":false,\"verified\":false},\"email\":\"api-org-jupiterone-hxjbgnd3bo@hashicorp.com\",\"unconfirmed-email\":null,\"has-git-hub-app-token\":false,\"is-confirmed\":true,\"is-sudo\":false,\"permissions\":{\"can-create-organizations\":false,\"can-change-email\":true,\"can-change-username\":true,\"can-manage-user-tokens\":false}},\"relationships\":{\"authentication-tokens\":{\"links\":{\"related\":\"/api/v2/users/user-TSVGDCJGAaCZs8T7/authentication-tokens\"}}},\"links\":{\"self\":\"/api/v2/users/user-TSVGDCJGAaCZs8T7\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"d26a1432ec06c54c79f856ace5deeb0a\""
            },
            {
              "name": "tfp-api-version",
              "value": "2.5"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "30"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "29"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "0.199"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 597,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
