{
  "log": {
    "_recordingName": "fetchOrganizationMembers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acacf9c23aea015dd4969b56562f7074",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "size": "100"
              }
            },
            {
              "name": "include",
              "value": "user"
            }
          ],
          "url": "https://app.terraform.io/api/v2/organizations/austin-test-org/organization-memberships?page%5Bsize%5D=100&include=user"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json; charset=utf-8",
            "size": 1730,
            "text": "{\"data\":[{\"id\":\"ou-eNsoDyyGgVKLDY4r\",\"type\":\"organization-memberships\",\"attributes\":{\"status\":\"active\",\"email\":\"austin.kelleher@jupiterone.com\",\"created-at\":\"2021-03-28T12:46:34.226Z\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"team-ec8SRFyBkmL1K7Q3\",\"type\":\"teams\"}]},\"user\":{\"data\":{\"id\":\"user-dtoAE5LXupfvycjK\",\"type\":\"users\"}},\"organization\":{\"data\":{\"id\":\"austin-test-org\",\"type\":\"organizations\"}}}}],\"included\":[{\"id\":\"user-dtoAE5LXupfvycjK\",\"type\":\"users\",\"attributes\":{\"username\":\"austinkelleher-jupiterone\",\"is-service-account\":false,\"avatar-url\":\"https://www.gravatar.com/avatar/1941eaaff412c1a04cfd4166bfd66371?s=100\\u0026d=mm\",\"two-factor\":{\"enabled\":false,\"verified\":false},\"email\":\"austin.kelleher@jupiterone.com\",\"permissions\":{\"can-create-organizations\":true,\"can-change-email\":true,\"can-change-username\":true,\"can-manage-user-tokens\":true}},\"relationships\":{\"authentication-tokens\":{\"links\":{\"related\":\"/api/v2/users/user-dtoAE5LXupfvycjK/authentication-tokens\"}}},\"links\":{\"self\":\"/api/v2/users/user-dtoAE5LXupfvycjK\"}}],\"links\":{\"self\":\"https://app.terraform.io/api/v2/organizations/austin-test-org/organization-memberships?include=user\\u0026page%5Bnumber%5D=1\\u0026page%5Bsize%5D=100\",\"first\":\"https://app.terraform.io/api/v2/organizations/austin-test-org/organization-memberships?include=user\\u0026page%5Bnumber%5D=1\\u0026page%5Bsize%5D=100\",\"prev\":null,\"next\":null,\"last\":\"https://app.terraform.io/api/v2/organizations/austin-test-org/organization-memberships?include=user\\u0026page%5Bnumber%5D=1\\u0026page%5Bsize%5D=100\"},\"meta\":{\"status-counts\":{\"total\":1,\"matching\":1,\"active\":1,\"invited\":0},\"pagination\":{\"current-page\":1,\"page-size\":100,\"prev-page\":null,\"next-page\":null,\"total-pages\":1,\"total-count\":1}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"46458ae403475fb53ce6d2443a47480d\""
            },
            {
              "name": "tfp-api-version",
              "value": "2.4"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "30"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "29"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "0.104"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 146,
      },
      {
        "_id": "d1bf376fea616148bd38073addbf345f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
         [...]
