{
  "log": {
    "_recordingName": "fetchOrganizationMembers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "f7815dab5838a3db65aed5c578ca0d2e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "size": "100"
              }
            },
            {
              "name": "include",
              "value": "user"
            }
          ],
          "url": "https://app.terraform.io/api/v2/organizations/jupiterone/organization-memberships?page%5Bsize%5D=100&include=user"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json; charset=utf-8",
            "size": 4649,
            "text": "{\"data\":[{\"id\":\"ou-K9x7j5x3iJ4wMV4j\",\"type\":\"organization-memberships\",\"attributes\":{\"status\":\"active\",\"email\":\"austin.kelleher@jupiterone.com\",\"created-at\":\"2021-02-17T21:24:28.951Z\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"team-iPT3DfbPpZpEjb9t\",\"type\":\"teams\"}]},\"user\":{\"data\":{\"id\":\"user-dtoAE5LXupfvycjK\",\"type\":\"users\"}},\"organization\":{\"data\":{\"id\":\"jupiterone\",\"type\":\"organizations\"}}}},{\"id\":\"ou-eKePhn8G3wmb3skq\",\"type\":\"organization-memberships\",\"attributes\":{\"status\":\"active\",\"email\":\"nick.dowmon@jupiterone.com\",\"created-at\":\"2021-03-17T18:16:04.684Z\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"team-iPT3DfbPpZpEjb9t\",\"type\":\"teams\"}]},\"user\":{\"data\":{\"id\":\"user-HMyUEwhb3mB45HZ7\",\"type\":\"users\"}},\"organization\":{\"data\":{\"id\":\"jupiterone\",\"type\":\"organizations\"}}}},{\"id\":\"ou-aEtsGQRPTSHtnx43\",\"type\":\"organization-memberships\",\"attributes\":{\"status\":\"active\",\"email\":\"pgilaga@gmail.com\",\"created-at\":\"2021-07-15T20:50:55.220Z\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"team-iPT3DfbPpZpEjb9t\",\"type\":\"teams\"}]},\"user\":{\"data\":{\"id\":\"user-2yZJWZGNJmNsidGK\",\"type\":\"users\"}},\"organization\":{\"data\":{\"id\":\"jupiterone\",\"type\":\"organizations\"}}}},{\"id\":\"ou-H85Ft3VRpgP8JHux\",\"type\":\"organization-memberships\",\"attributes\":{\"status\":\"active\",\"email\":\"stefan@creativice.com\",\"created-at\":\"2021-02-18T00:47:35.848Z\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"team-iPT3DfbPpZpEjb9t\",\"type\":\"teams\"}]},\"user\":{\"data\":{\"id\":\"user-qZQNfnC19eG6Ameo\",\"type\":\"users\"}},\"organization\":{\"data\":{\"id\":\"jupiterone\",\"type\":\"organizations\"}}}}],\"included\":[{\"id\":\"user-dtoAE5LXupfvycjK\",\"type\":\"users\",\"attributes\":{\"username\":\"austinkelleher-jupiterone\",\"is-service-account\":false,\"avatar-url\":\"https://www.gravatar.com/avatar/1941eaaff412c1a04cfd4166bfd66371?s=100\\u0026d=mm\",\"two-factor\":{\"enabled\":false,\"verified\":false},\"email\":\"austin.kelleher@jupiterone.com\",\"permissions\":{\"can-create-organizations\":false,\"can-change-email\":true,\"can-change-username\":true,\"can-manage-user-tokens\":false}},\"relationships\":{\"authentication-tokens\":{\"links\":{\"related\":\"/api/v2/users/user-dtoAE5LXupfvycjK/authentication-tokens\"}}},\"links\":{\"self\":\"/api/v2/users/user-dtoAE5LXupfvycjK\"}},{\"id\":\"user-HMyUEwhb3mB45HZ7\",\"type\":\"users\",\"attributes\":{\"username\":\"ndowmon\",\"is-service-account\":false,\"avatar-url\":\"https://www.gravatar.com/avatar/4cdbb2e21e2d991b0dd11d9a38c2c660?s=100\\u0026d=mm\",\"two-factor\":{\"enabled\":false,\"verified\":false},\"email\":\"nick.dowmon@jupiterone.com\",\"permissions\":{\"can-create-organizations\":false,\"can-change-email\":true,\"can-change-username\":true,\"can-manage-user-tokens\":false[...]
