{
  "log": {
    "_recordingName": "fetchWorkspaceResources",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "b7a9113b08d1df6ca222c599e859feef",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "size": "100"
              }
            }
          ],
          "url": "https://app.terraform.io/api/v2/workspaces/ws-JS7uj7sjEGEiQFAC/resources?page%5Bsize%5D=100"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json; charset=utf-8",
            "size": 544,
            "text": "{\"data\":[],\"links\":{\"self\":\"https://app.terraform.io/api/v2/workspaces/ws-JS7uj7sjEGEiQFAC/resources?page%5Bnumber%5D=1\\u0026page%5Bsize%5D=100\",\"first\":\"https://app.terraform.io/api/v2/workspaces/ws-JS7uj7sjEGEiQFAC/resources?page%5Bnumber%5D=1\\u0026page%5Bsize%5D=100\",\"prev\":null,\"next\":null,\"last\":\"https://app.terraform.io/api/v2/workspaces/ws-JS7uj7sjEGEiQFAC/resources?page%5Bnumber%5D=1\\u0026page%5Bsize%5D=100\"},\"meta\":{\"pagination\":{\"current-page\":1,\"page-size\":100,\"prev-page\":null,\"next-page\":null,\"total-pages\":0,\"total-count\":0}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"9df8dfc7997b831d4a5ac417642d94ee\""
            },
            {
              "name": "tfp-api-version",
              "value": "2.5"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "30"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "29"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "0.634"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1164,
      },
      {
        "_id": "1fc884fef1efd1935428f0e777e24e38",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "size": "100"
              }
            }
          ],
          "url": "https://app.terraform.io/api/v2/workspaces/ws-GRtYdcUZksn1rsrR/resources?page%5Bsize%5D=100"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json; charset=utf-8",
            "size": 27725,
            "text": "{\"data\":[{\"id\":\"wsr-GXTY72mqgXAznkbf\",\"type\":\"resources\",\"attributes\":{\"address\":\"google_compute_firewall.allow_http\",\"name\":\"allow_http\",\"created-at\":\"2021-06-24\",\"updated-at\":\"2021-06-24\",\"module\":\"root\",\"provider\":\"hashicorp/google\",\"provider-type\":\"google_compute_firewall\",\"modified-by-state-version-id\":\"sv-sc34Fi2C2jQLjtEX\",\"name-index\":null}},{\"id\":\"wsr-ZqZoUeLnpF5sKx5d\",\"type\":\"resources\",\"attributes\":{\"address\":\"google_compute_firewall.allow_https\",\"name\":\"allow_https\",\"created-at\":\"2021-06-24\",\"updated-at\":\"2021-06-24\",\"module\":\"root\",\"provider\":\"hashicorp/google\",\"provider-type\":\"google_compute_firewall\",\"modified-by-state-version-id\":\"sv-sc34Fi2C2jQLjtEX\",\"name-index\":null}},{\"id\":\"wsr-skAzXxhvsKu1CeZG\",\"type\":\"resources\",\"attributes\":{\"address\":\"google_binary_autho[...]
