{
  "log": {
    "_recordingName": "fetchOrganizationEntitlementSet",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "f23a3cfcb0c06e6dd84611fcfcb09bd6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.terraform.io/api/v2/organizations/jupiterone/entitlement-set"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json; charset=utf-8",
            "size": 439,
            "text": "{\"data\":{\"id\":\"org-yMai1ZUhS39WMAU9\",\"type\":\"entitlement-sets\",\"attributes\":{\"cost-estimation\":false,\"configuration-designer\":true,\"operations\":true,\"private-module-registry\":true,\"sentinel\":false,\"state-storage\":true,\"teams\":false,\"vcs-integrations\":true,\"usage-reporting\":false,\"user-limit\":5.0,\"self-serve-billing\":true,\"audit-logging\":false,\"agents\":false,\"sso\":false},\"links\":{\"self\":\"/api/v2/entitlement-sets/org-yMai1ZUhS39WMAU9\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"c73baa90b1c2b209b04c0729babf3ffb\""
            },
            {
              "name": "tfp-api-version",
              "value": "2.5"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "30"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "29"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "0.06"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 958,
      },
      {
        "_id": "3d52198674d63c5f240bad80c07a6e94",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "htt[...]
